.finance-yellow-bg {
  position: relative;
  .yellow-bg-img {
    position: absolute;
    right: 0;
    top: -5rem;
    z-index: -1;
    max-width: 80%;
  }
}

.finance-section {
  position: relative;
  padding: 3rem 2.3rem 0 3.4rem;
  z-index: 0;
  padding-top: 5rem;

  .finance_info {
    .finance_content {
      margin-top: 1rem;
      margin-bottom: 11rem;
      max-width: 660px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include breakpoint("mobile") {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2.5rem;
        padding: 0 2.5rem;
      }

      .heading {
        padding: 0.4rem 2.5rem;

        border-radius: 0.4rem;
        background: $light-white;
        max-width: 16.9rem;
        margin-top: 14rem;
        margin-bottom: 2rem;
      }

      h5 {
        max-width: 45.7rem;
      }

      > p {
        margin: 1rem 9.3rem 2rem 0rem;
        max-width: 49.1rem;
      }

      .tick-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        p {
          margin-left: 1rem;
        }
      }
    }
  }
}
